/* === fonts === */

/* source-sans-3-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/source-sans-3-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-600 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/source-sans-3-v15-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* source-sans-3-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Source Sans 3";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/source-sans-3-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* latin */
@font-face {
  font-family: "Share Tech Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/sharetechmono.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Departure Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/departuremono.woff2) format("woff2");
}

/* === styles === */

:root {
  --primary: #df4928;
  --background: #141311;
  --border-color: #888684;
  --border-style: solid;
  --meta-color: var(--border-color);
  --min-body-width: 800px;
  --font-monospace: "Departure Mono", "Share Tech Mono", monospace;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: "Source Sans 3", sans-serif;
  font-size: 20px;
  background: var(--background);
  color: rgb(235, 231, 237);

  max-width: min(var(--min-body-width), 100%);
  margin: auto;
}

article {
  line-height: 1.5;
  margin-bottom: 5rem;
}

.date {
  font-family: var(--font-monospace);
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

main {
  padding: 1rem;
}

aside {
  font-size: 16px;
}

aside,
header {
  text-align: center;
}

header {
  margin-bottom: 0;
  padding: 1.5rem 0;
}

header h1 {
  font-size: 2rem;
}

footer {
  font-size: 90%;
  margin: 2.5rem 0;
  color: var(--meta-color);
  font-family: var(--font-monospace);
  font-variant: small-caps;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

nav {
  padding: 0 1rem;
}

nav li:not(:last-of-type):not(.brand)::after {
  content: " · ";
  margin-left: 8px;
  margin-right: 8px;
}

nav li {
  display: inline-flex;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

main h1 {
  margin-bottom: 0.25rem;
}

.meta {
  margin-bottom: 1.5rem;
}

.meta:empty {
  display: none;
}

.meta,
.meta-text,
.text-muted {
  color: var(--meta-color);
}

@media (max-width: 1500px) {
  html,
  body {
    --min-body-width: 1000px;
    font-size: 22px;
  }
}

@media (min-width: 2000px) {
  h1 {
    font-size: 2.25rem;
  }

  .meta,
  .meta-text {
    font-size: 1rem;
  }

  article {
    font-size: 1.1rem;
  }

  aside {
    font-size: 1rem;
  }
}

li.brand {
  margin-right: auto;
}

li.brand a {
  color: inherit;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px;
}

li.brand h1 {
  font-family: var(--font-monospace);
  margin-bottom: 0;
  font-size: 26px;
}

.home {
  font-family: var(--font-monospace);
  padding: 0.5rem 0;
}

a,
a.card h2 {
  color: var(--primary);
  text-decoration: underline var(--border-style);
  text-underline-offset: 4px;
  text-decoration-style: dotted;
}

a:hover,
a.card:hover h2 {
  text-decoration: none;
}

a:focus-within {
  text-decoration-style: solid;
}

p,
pre {
  margin-top: 0;
}

blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: 4px solid var(--border-color);
}

.footnotes {
  font-size: 0.9rem;
}

h1:empty {
  display: none;
}

hr {
  border-color: #808080;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  margin: 1rem 0;
}

.text-center {
  text-align: center;
}

article img,
article video {
  max-width: 100%;
  height: auto;
}

.hljs-middle {
  text-align: center;
}

pre {
  overflow: auto;
}

pre code {
  padding: 0.5rem !important;
  overflow: auto;
  width: calc(100% - 1rem);
  display: block;
  font-size: 0.9rem;
  background: transparent !important;
}

article mark {
  background: rgba(255, 99, 24, 0.38);
  color: white;
}

article table {
  table-layout: fixed;
}

.card {
  display: block;
  padding: 0.5rem 0rem;
  text-decoration: none;
}

.card .meta-text {
  margin-right: 0.5rem;
  font-size: 18px;
}

.card h2 {
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: inherit;
}

code {
  font-family: var(--font-monospace);
}

.hljs-comment,
.hljs-quote {
  color: #7d8490 !important;
}

@media (max-width: 750px) {
  html,
  body {
    font-size: 18px;
  }

  nav ul {
    flex-wrap: wrap;
  }

  nav .brand {
    width: 100%;
    margin-top: 1rem;
  }

  nav .brand,
  nav .brand a {
    width: 100%;
    text-align: left;
    order: 1;
  }
}

.caption {
  display: block;
  font-size: 80%;
  text-align: center;
  color: var(--meta-color);
  margin-bottom: 0.25rem;
}
