<rss xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" version="2.0">
    <channel>
        <title>codingpaws</title>
        <link>https://codingpa.ws</link>
        <description>real dog with coding paws</description>
        <atom:link xmlns:atom="http://www.w3.org/2005/Atom" href="https://codingpa.ws/feed.xml"
            type="application/rss+xml" rel="self" />
        <language>en-US</language>
        <copyright>Copyright (c) {{ .Year }} codingpaws</copyright>
        <pubDate>{{ .RssDate | html}}</pubDate>
        <lastBuildDate>{{ .RssDate | html }}</lastBuildDate>
        <ttl>60</ttl>

        {{ range .Entries }}
        {{ if .Meta.RSS }}
        <item>
            <title>{{ .Title }}</title>
            <link>{{ .URL }}</link>
            <description>{{ .Meta.Description }}</description>
            <guid>{{ .URL }}</guid>
            <pubDate>{{ .RssDate | html }}</pubDate>
            {{ if .Meta.ImageURL }}
            <enclosure url="{{ .Meta.ImageURL }}" type="image/jpeg" />
            {{ end }}
            <author>Kev</author>
        </item>
        {{ end }}
        {{ end }}
    </channel>
</rss>